<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3>Angular 7 Template-Driven Form Validation</h3>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              [(ngModel)]="model.firstName"
              #firstName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
              required
            />
            <div
              style="color: red"
              *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
            >
              <p *ngIf="firstName.errors.required">required filled</p>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              [(ngModel)]="model.lastName"
              #lastName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="model.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              required
              email
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
              required
              minlength="6"
            />
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- credits -->

<div [hidden]="!submitted">
  <h2>You submitted the following detail:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ model.firstName }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ model.lastName }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">email</div>
    <div class="col-xs-9">{{ model.email }}</div>
  </div>
  <br />
  <button class="btn btn-primary" (click)="submitted = false">Edit</button>
</div>
<div>
  <button (click)="getapiData()">GetAPI data</button>
  <div *ngFor="let posts of post | async">
    {{ posts | json }}
  </div>
</div>
